<h1>My tasks</h1>
<section class="tasks-list">
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.completed ? 'â˜‘ï¸' : 'ðŸ”³' %> <%= link_to task.title, task_path(task) %></li>
    <% end %>
  </ul>
</section>

<section class="actions">
  <ul>
    <li><%= link_to 'ï¼‹ Add a New Task', tasks_new_path %></li>
  </ul>
</section>
