<h1>My <%= @task.title %></h1>

<div>
  <p><%= @task.details %></p>
</div>

<p>
  <%= @task.completed ? 'â˜‘ï¸ This task is completed' : 'ðŸ”³ This taks is not completed yet' %>
</p>
<%= link_to 'Back to list', tasks_path %>

