<h1>My <%= @task.title %></h1>

<div>
  <p><%= @task.details %></p>
</div>

<p>
  <%= @task.completed ? 'â˜‘ï¸ This task is completed' : 'ðŸ”³ This task is not completed yet' %>
</p>

<section class="actions">
  <ul>
    <li><%= link_to 'âŽ‹ Back to list', tasks_path %></li>
  </ul>
</section>
